<body>
 <h1>ようこそ <strong>Bookers</strong> へ!</h1>

 <p><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>
 <p>印象を共有し交換することができます</p>

 <p>
  <a href= "https://7bf7cb3b80c744e9ae85348a75f59a46.vfs.cloud9.ap-northeast-1.amazonaws.com/books/index/" >start</a>
 </p>
</body>
